/* The stylesheet for the MemberCard.js component */

.Card{
    width: 35rem;
    height: 20rem;
    background-color: #4F2683;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    box-sizing: border-box;
}

.Card__image{
    width: 8rem;
    height: 8rem;
}

.Card__name, .Card__role, .Card__major, .Card__email, .Card__description{
    color: white;
}

.Card__role, .Card__major, .Card__email{
    font-size: .9rem;
}

.Card__name{
    font-size: 1.5rem;
}

.Card__name_div{
    margin: .5rem 0rem;
}

.Card__role{
    font-weight: bold;
}

.Card__right_part{
    width: 25rem;  /* To ensure there can be space between .Card__image and ..Card__right_part in .Card */
}
