/* The stylesheet for the About Page */

.About{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.About__description{
    width: 40vw;
    margin-top: 5vh;
}

.About__description_header{
    font-size: 2rem;
}

.About__members_header{
    font-size: 3rem;
    font-weight: 300;
}

.About__members{
    width: 90vw;
}

.About__member_cards{
    display: flex;
    flex-wrap: wrap;
}

.About__member_card{
    margin: 2rem auto;
}

